body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-header .sidebar-toggle:before {
  content: "" !important;
}

.form-group-buttons {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-top: none !important;
}

.form-group-buttons .buttons-left {
  display: inline;
  justify-content: flex-start;
}

.form-group-buttons .buttons-right {
  display: inline;
  justify-content: flex-end;
}

.buttons-right button {
  margin-right: 10px;
}

.buttons-right button:last-of-type {
  margin-right: 0px;
}

.buttons-left button {
  margin-left: 10px;
}

.buttons-left button:first-of-type {
  margin-left: 0px;
}

td .form-group {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}